
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: none;
    overflow-x: hidden;
}

@media(max-width:658px){
    .navbar{
        display:flex;
        flex-direction: column;
    }
}
  

body{
background: #1f242d;
color: #fff;
top: 0;
bottom: 0;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.home-content{
    position: relative;
    color: #fff;
    top: 280px;
    left: 70px;
    font-size: 30px;
    padding: 30px;
    border: 30px;
    flex-wrap: wrap;

}
.home-img{
    position: relative;
    float: left;
    display:flex;
    left: 1050px;
    top:-139px;
    background-size: cover;
    color: transparent;
    flex-wrap: wrap;
}

.navbar a{
    
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    transition: .3s;
    justify-content: space-between;
    border: none;
}

.navbar :hover{
    color: #0ef;
    border: 1px orangered solid;
}
.navbar ,a.active{
    color: #0ef;
}


.certhead{
position: fixed;
display:flex;
width: 400px;
top: 150px;
left: 100px;
}
.cert{
    left: 0;
    top: 200px;
    scroll-behavior: smooth;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container{
    top:500px;
}
